.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: #A91500;
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A91500;
  border-radius: 10px;
}
.body{
  background-color: black;
}
.inputNAME{
  width: 79.1%;
height: 20px;
border: solid;
color: red;
background-color: black;
resize: none;
min-height:20px ;
max-height:20px ;
}
.input{
width: 79.1%;
height: 20px;
border: solid;
color: red;
background-color: black;
float: left;
resize: none;
min-height:20px ;
max-height:20px ;
}
.input:hover{
  color: orange;
} 
.div{
display: flex;
flex-direction: column;
min-height: 500px;
max-height: 550px;
border:  solid;
color: red;
background-color: black;
overflow: auto;
cursor: not-allowed;
}
.btn{
height: 50px;
width: 100px;
background-color: black;
color: red;
border: solid;
box-shadow: 0 9px red;
cursor: pointer;
}
.btn:active {
  background-color: #A91500;
  box-shadow: 0 5px red;
  color: black;
  transform: translateY(4px);
}
.btn:hover{
    background-color: #A91500;
    color: black;
    box-shadow: 0 9px #A91600;
}
.header{
    height: 150px;
    position: fixed;
    width: 100%;
    background-color: red;
    color: black;
}
.m1{
    background-color: black;
    color: red;
}
.footer{
    height: 150px;
    position: absolute;
    width: 100%;
    background-color: red;
    color:red;
}
.linked{
    color: red; 
    cursor: pointer;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}
.linked:hover{
  color: orange;
}
.characters_count{
  border: solid;
  color: red;
  height: 24px;
  width: 10%;
}